@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
